    *{
        font-family: "Poppins", sans-serif;
    }
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }

    .card {
    background-color: #d1d5db; 
    padding: 1.5rem; 
    border-radius: 20px; 
    margin-top: 70px;
    width: 610px; 
    height: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .image {
    margin-top: -9.375rem; 
    }

    .title-container {
    background-color: #fEEEE2; 
    padding: 1.5rem; 
    border-radius: 20px; 
    width: 475px; 
    height: 1rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4b5563; 
    text-align: center;
    margin-bottom: 1rem; 
    }
    .text{
        font-size: 1.5rem; 
        font-weight: bold;
    }

    button{
        border: none;
        box-shadow: none;
    }
    .button-yes{
        background-color: #6Fd240; 
        color: black;
        width: 157px;
        height: 41px;
        font-weight: bold;
        padding: 0.5rem 1rem; 
        border-radius: 12px; 
        margin-top: 1rem; 
    }
    .button-no {
        background-color: #E12E2E;
        color: white;
        width: 157px;
        height: 41px;
        font-weight: bold;
        padding: 0.5rem 1rem; 
        border-radius: 12px; 
        margin-top: 1rem; 
    }

    .button-yes:hover{
        background-color: #37691f;
    }
    .button-no:hover {
        background-color: #771919;
    }
